#{{ ansible_managed }}
{#
#
#    ==== Default server template for le9i0nx.bacula role ====
#
# List of parameters supported by this template:
#
#
#}

FileDaemon {
  Name = {{ bacula__conf_client.name | replace(".","_") }}-fd
  FDport = {{ bacula__conf_client.port | default(9102) }}
  WorkingDirectory = /var/lib/bacula
  Pid Directory = /var/run/bacula
  Maximum Concurrent Jobs = 20
  Heartbeat Interval = 30
{% if bacula__conf_client.listen is defined bacula__conf_client.listen %}
  FDAddresses = {
{% for local in bacula__conf_client.listen %} ip = { {{ local.ip }}; port = {{ local.port | default(9102) }} ; }{% endfor %}
  }
{% endif %}
}

Director {
  Name = {{ bacula__conf_dir.name }}-dir
  Password = "{{ bacula__conf_client_passwd }}"
}

Messages {
  Name = Standard
  director = {{ bacula__conf_dir.name }}-dir = all, !skipped, !restored
}

