#{{ ansible_managed }}
{#
#
#    ==== Default server template for le9i0nx.bacula role ====
#
# List of parameters supported by this template:
#
#
#}

# {{ client_name }} client configuration

Client {
  Name = {{ bacula__conf_client.name | replace(".","_") }}-fd
  Address = {{ ansible_default_ipv4.address }}
  FDPort = 9102
  Catalog = Catalog
  Password = "{{ bacula__conf_client.passwd }}"
}
FileSet {
  Name = "{{ bacula__conf_client.name | replace('.','_') }}-set"
  Include {
    Options {
      signature = SHA1
      compression = GZIP1
      noatime = yes
      wildfile = "*.iso"
      Exclude = yes
     }
    {% for item in client_include_dirs %}
    File = {{ item }}
    {% endfor %}
    }
    # Add paths to backup
  {% if client_exclude_dirs %}
  Exclude {
    {% for item in client_exclude_dirs %}
    File = {{ item }}
    {% endfor %}
  }
  {% endif %}
}
Job {
  Name = backup-{{ bacula__conf_client.name | replace('.','_') }}
  JobDefs = DefaultJob
  Client = {{ bacula__conf_client.name | replace(".","_") }}-fd
  Storage = File
  Level = Incremental
  Pool = Default
  Full Backup Pool = {{ client_name }}-full
  Differential Backup Pool = {{ client_name }}-diff
  Incremental Backup Pool = {{ client_name }}-inc
  FileSet = "{{ client_name }}-set"
}
Pool {
  Name = {{ client_name }}-full
  Label Format = {{ client_name }}-full
  @/etc/bacula/pool_defaults.conf
  @/etc/bacula/pool_full_defaults.conf
}
Pool {
  Name = {{ client_name }}-diff
  Label Format = {{ client_name }}-diff
  @/etc/bacula/pool_defaults.conf
  @/etc/bacula/pool_diff_defaults.conf
}
Pool {
  Name = {{ client_name }}-inc
  Label Format = {{ client_name }}-inc
  @/etc/bacula/pool_defaults.conf
  @/etc/bacula/pool_inc_defaults.conf
}

